/* * {
    outline: 1px dotted red;
} */

/* Header */
/* -------------------------------------- */
.header{
    color:whitesmoke;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    margin-top: 20px;
    width: 400px;
}

.nav-items {
    display: flex;
    margin-top: 15px;
    padding: 75px 20px 20px 0px;
    gap: 10%;
    justify-content: end;
    list-style-type: none;
}

.nav-items a {
    color: whitesmoke;
    text-decoration:none;
    
}

.nav-items a:hover {
    color: rgb(144, 115, 115);
    
}

.nav-items a:active {
    color: rgb(144, 115, 115);
    
}

/* Cart */
/* ---------------------------------------------- */
.top-icons{
    margin-left: 75%;
}

/* Main Content */
/* ---------------------------------------------- */
.FeaturedSteak{
    display: flex;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}



/* Footer */
/* ---------------------------------------------- */
footer {
    color: whitesmoke;
    opacity: 50%;
    padding-top: 15px;
    padding-bottom: 20px;
}


/* Steak App CSS */
body{
    background-color: rgb(47, 46, 46);
}

label {
    color: whitesmoke;
}

#steakWelcome{
    color: whitesmoke;
    align-items: center;
}
#steakHook{
    color: whitesmoke;
    align-items: center;
}

#copyRight {
    color:whitesmoke;
}

/* New Form */

.title {
    color: whitesmoke
}


.nameGroup{
    display: flex;
    gap: 20px;
}

.gatherInfoGroup{
    display: flex;
    gap: 20px;
}


/* About Page */

.aboutPage{
    background-color: rgb(47, 46, 46);

}

.ecommBioHeader{
    color: whitesmoke;
    padding: 5%;
    
}

.ecommBio {
    color: whitesmoke;
    
}


/* Media Query Breakpoints for Responsive Web Design */
/* ---------------------------------------------- */
@media (max-width: 991px) {
    .nav-items {
      display: block; /* or any other display value you want to use */
    }
}

@media (max-width: 912px) {
    .nav-items {
      display: block; /* or any other display value you want to use */
    }
}
@media (max-width: 768px) {
    .nav-items {
      display: block; /* or any other display value you want to use */
    }
}
@media (max-width: 768px) {
    .nav-items {
      display: block; /* or any other display value you want to use */
      margin-left: 45%;
    }
}

@media (max-width: 768px) {
    .logo {
      display: block; /* or any other display value you want to use */
      margin-left: 10%;
    }
}
@media (max-width: 767px) {
    .top-icons {
      margin-left: 35%;
    }
}


@media (max-width: 767px) {
    .logo {
        width: 300px;
        margin-left: 20px;
    }
}
@media (max-width: 761px) {
    .logo {
        width: 300px;
        margin-left: 18%;
    }
}

@media (max-width: 767px) {
    #steakGroup1,#steakGroup2 {
        display: block; /* or any other display value you want to use */
        margin-left: 20%;
    }
}


@media (max-width: 375px) {
    .logo {
        width: 300px;
        margin-left: 6%;
    }
}


@media (max-width: 375px) {
    .top-icons {
        display: flex;
        padding-right: 35px;
    }
}

@media (max-width: 375px) {
    .nameGroup {
        display: block; /* or any other display value you want to use */
        /* padding-right: 35px; */
    }
}









